body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #ffffff;
  color: rgba(18,18,18);
}
/* ------for all pages width margin-----*/
.page {
  width: 100%;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .page {
    padding: 0 24px;
  }
}

@media (min-width: 1024px) {
  .page {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 32px;
  }
}

header {
  text-align: center;
  padding: 24px;
  font-size: 28px;
  font-weight: bold;
}

/* ---------- SITE HEADER ---------- */

.site-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 12px 0 18px;
  border-bottom: 1px #1e293b;
  position: relative;
}

/* second line */
.site-header::before,
.site-header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 1px solid #1e293b;
}

.site-header::before {
  bottom: 3px;
}

.site-header::after {
  bottom: 0;
}

/* constrain header width on large screens */
@media (min-width: 1024px) {
  .site-header {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* mobile padding */
@media (max-width: 1023px) {
  .site-header {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header-inner {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  width: 100%;
  padding: 0 16px;
}

@media (min-width: 1024px) {
  .header-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
  }
}


.logo-link {
  display: flex;
  align-items: center;
}

.site-logo {
  height: 52px;
  width: auto;
}

.site-title {
  justify-self: center;
  font-size: 22px;
  font-weight: 700;
  color: #121212;
  text-decoration: none;
}

.site-title:hover {
  color: #38bdf8;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

.back {
  display: block;
  margin: 20px;
}
