body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #ffffff;
  color: black;
}

header {
  text-align: center;
  padding: 24px;
  font-size: 28px;
  font-weight: bold;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

.back {
  display: block;
  margin: 20px;
}



